Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

codecov.yml:

coverage: 
  status:
    project:
      default: off
      carga:
        target: auto
        flags:
          - carga
      uris:
        target: auto
        flags:
          - uris
      discover:
        target: auto
        flags:
          - discover
      cron:
        target: auto
        flags:
          - cron
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  carga:
    paths:
      - src/Hercules.Asio.Api.Carga
    carryforward: false
  uris:
    paths:
      - src/Hercules.Asio.UrisFactory
    carryforward: false
  cron:
    paths:
      - src/Hercules.Asio.Cron
    carryforward: false
  discover:
    paths:
      - src/Hercules.Asio.Api.Discover
    carryforward: false

Create Dockerfile
  src/Benchmark/triplestore-assessment-interface/Dockerfile
Due: none

Update config.json
  src/Benchmark/triplestore-assessment-interface/config.json
Due: none

Update settings.py
  src/Benchmark/triplestore-assessment-interface/hercules/settings.py
Due: none

Update Dockerfile
  src/Benchmark/triplestore-assessment-interface/Dockerfile
Due: none

Update server.py
  src/Benchmark/triplestore-assessment-interface/server.py
Due: none

Update graphs
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/iconos/person-grafo-hercules.svg
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/lib/arbor/arbor.js
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/lib/arbor/graphics.js
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/lib/arbor/renderer.js
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/lib/d3js/d3.v6.min.js
Due: none

Update renderer.js
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/lib/arbor/renderer.js
Due: none

Update README.md
  Builds/docker-images/README.md
Due: none

Update HomeController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/HomeController.cs
Due: none

Update requirements.txt
  src/Benchmark/triplestore-assessment-interface/requirements.txt
Due: none

Update views.py
  src/Benchmark/triplestore-assessment-interface/hercules/public/views.py
Due: none

Update discvoer
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCacheGlobal.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Add files via upload
  src/Benchmark/benchmark/COPYING
  src/Benchmark/benchmark/Dockerfile
  src/Benchmark/benchmark/Dockerfile.bk
  src/Benchmark/benchmark/config.json
  src/Benchmark/benchmark/dist/Hercules-0.1-py2.7.egg
  src/Benchmark/benchmark/dist/Hercules-0.1-py3.6.egg
  src/Benchmark/benchmark/hercules/api/__init__.py
  src/Benchmark/benchmark/hercules/api/__init__.pyc
  src/Benchmark/benchmark/hercules/api/__pycache__/__init__.cpython-36.pyc
  src/Benchmark/benchmark/hercules/api/__pycache__/api.cpython-36.pyc
  src/Benchmark/benchmark/hercules/api/api.py
  src/Benchmark/benchmark/hercules/app.py
  src/Benchmark/benchmark/hercules/app.pyc
  src/Benchmark/benchmark/hercules/common/rdf.py
Due: none

Delete src/Benchmark/benchmark directory
  src/Benchmark/benchmark/COPYING
  src/Benchmark/benchmark/Dockerfile
  src/Benchmark/benchmark/Dockerfile.bk
  src/Benchmark/benchmark/config.json
  src/Benchmark/benchmark/dist/Hercules-0.1-py2.7.egg
  src/Benchmark/benchmark/dist/Hercules-0.1-py3.6.egg
  src/Benchmark/benchmark/hercules/api/__init__.py
  src/Benchmark/benchmark/hercules/api/__init__.pyc
  src/Benchmark/benchmark/hercules/api/__pycache__/__init__.cpython-36.pyc
  src/Benchmark/benchmark/hercules/api/__pycache__/api.cpython-36.pyc
  src/Benchmark/benchmark/hercules/api/api.py
  src/Benchmark/benchmark/hercules/app.py
  src/Benchmark/benchmark/hercules/app.pyc
  src/Benchmark/benchmark/hercules/common/rdf.py
Due: none

Update OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCache.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCacheGlobal.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/appsettings-pre.Development.json
Due: discover

Delete appsettings-pre.Development.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/appsettings-pre.Development.json
Due: discover
