Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

codecov.yml:

coverage: 
  status:
    project:
      default: off
      carga:
        target: auto
        flags:
          - carga
      uris:
        target: auto
        flags:
          - uris
      discover:
        target: auto
        flags:
          - discover
      cron:
        target: auto
        flags:
          - cron
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  carga:
    paths:
      - src/Hercules.Asio.Api.Carga
    carryforward: false
  uris:
    paths:
      - src/Hercules.Asio.UrisFactory
    carryforward: false
  cron:
    paths:
      - src/Hercules.Asio.Cron
    carryforward: false
  discover:
    paths:
      - src/Hercules.Asio.Api.Discover
    carryforward: false

Update Configuración e Instalación.md
  Configuración e Instalación.md
Due: none

Actualizadas peticiones a OAI-PMH
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallApiNeedInfoPublisData.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallOAIPMH.cs
Due: carga

Update FactoryController.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Controllers/FactoryController.cs
Due: uris

Create README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Añadido RepositoryConfigSet
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/20210212091937_AddedRepositoryConfigSet.Designer.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/20210212091937_AddedRepositoryConfigSet.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/RepositoryConfig.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/RepositoryConfigSet.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/EntityContext.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Formación
  Formacion/20210201 Hércules ASIO Formacion RDF Store Benchmark.pdf
Due: none

OAI-PMH
  src/Hercules.Asio.Api.Carga/API_CARGA/Startup.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: carga, discover

Añadido repositoryConfigSet
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/RepositoriesConfigBDService.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/JobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/RecurringJobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/ScheduledJobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/RepositoryConfig.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/RepositoryConfigSet.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/ShapeConfig.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/HangfireEntityContext.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/IProgramingMethodService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/MockProgramingMethodService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ProgramingMethodsService.cs
  src/Hercules.Asio.Cron/XUnitTestProject/UnitTest1.cs
Due: carga, cron

Añadido repositoryconfigset
  src/Hercules.Asio.Web/ApiCargaWebInterface/ViewModels/RepositoryConfigSetViewModel.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/ViewModels/RepositoryConfigViewModel.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/Create.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/_CreateJob.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/_RepositoryConfigSet.cshtml
Due: none

Update ProgramingMethodsService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ProgramingMethodsService.cs
Due: cron

Taller de fuentes de datos
  Formacion/Taller de fuentes de datos/ConversorXML-RDF.rar
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 1/Solución.txt
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 2/Solución.txt
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 3/Solución.txt
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 4/Solución.txt
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 5/Solución.txt
  Formacion/Taller de fuentes de datos/OAI-PMH. Ejercicio 6/Solución.txt
  Formacion/Taller de fuentes de datos/OAI_PMH_XML.rar
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 1/Persona-RDF.xml
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 1/Persona.xml
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 1/Solucion/Persona.toml
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 2/Libro-RDF.xml
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 2/Libro.toml
  Formacion/Taller de fuentes de datos/XML-RDF. Ejercicio 2/Solucion/Libro.xml
Due: none

Create 20210216 Hércules ASIO OAI-PMH y carga de datos.pdf
  Formacion/Taller de fuentes de datos/20210216 Hércules ASIO OAI-PMH y carga de datos.pdf
Due: none

Update OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

DLLs
  Builds/libraries/Windows/API_CARGA.dll
  Builds/libraries/Windows/API_CARGA.xml
  Builds/libraries/Windows/API_DISCOVER.dll
  Builds/libraries/Windows/API_DISCOVER.xml
  Builds/libraries/Windows/Hercules.Asio.Api.Carga.dll
  Builds/libraries/Windows/Hercules.Asio.Api.Discover.dll
  Builds/libraries/Windows/Hercules.Asio.UrisFactory.dll
  Builds/libraries/Windows/Hercules.Asio.UrisFactory.xml
  Builds/libraries/Windows/UrisFactory.dll
  src/Hercules.Asio.Api.Carga/XUnitTestAPI_CARGA/UnitTestOperationsEtl.cs
  src/Hercules.Asio.Api.Discover/XUnitTestProjectAPI_DISCOVER/UnitTestDiscover.cs
Due: carga, discover
