Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Update README.md
  Docs/README.md
Due: none

Update Hercules-ASIO-Documento-de-Alojamiento.md
  Docs/Hercules-ASIO-Documento-de-Alojamiento.md
Due: none

Rename Entregable-EF2-1.6_-documento-de-analisis-de-metodos-FAIR.md to Entregable-EF2-1.6-documento-de-analisis-de-metodos-FAIR.md
  Docs/FAIR/Entregable-EF2-1.6-documento-de-analisis-de-metodos-FAIR.md
Due: none

Update README.md
  src/Hercules.Asio.UrisFactory/README.md
Due: uris

Update Readme.md
  Builds/libraries/Readme.md
Due: none

Update README.md
  src/Hercules.Asio.Api.Carga/README.md
Due: carga

Update README.md
  src/Hercules.Asio.Api.Discover/README.md
Due: discover

Update README.md
  src/Hercules.Asio.CVN2OAI_PMH/README.md
Due: none

Update README.md
  src/Hercules.Asio.Cron/README.md
Due: cron

Update README.md
  src/Hercules.Asio.DinamicPages/README.md
Due: none

Update README.md
  src/Hercules.Asio.Web/README.md
Due: none

Update Manual-de-usuario.md
  src/Hercules.Asio.Web/Manual-de-usuario.md
Due: none

Update Manual-de-creacion-de-paginas.md
  src/Hercules.Asio.Web/Manual-de-creacion-de-paginas.md
Due: none

Update readme.md
  src/Hercules.Asio.IdentityServer/readme.md
Due: none

Update README.md
  src/Hercules.Asio.LinkedDataServer/README.md
Due: none

Update README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Update README.md
  src/fair/README.md
Due: none

Update Hercules-ASIO-Especificacion-de-las-funciones-de-descubrimiento.md
  Docs/Hercules-ASIO-Especificacion-de-las-funciones-de-descubrimiento.md
Due: none

Update Readme.md
  src/Hercules.Asio.Api.Carga/Validaciones/Readme.md
Due: carga

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
