Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Update README.md
  Builds/docker-images/README.md
Due: none

Revisión entrega final
  Builds/docker-images/README.md
Due: none

fix compilation errors in urisFactory tests
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/ConfigService.cs
  src/Hercules.Asio.UrisFactory/XUnitTestUrisFactory/Integration/UnitTestConfigOperations.cs
  src/Hercules.Asio.UrisFactory/XUnitTestUrisFactory/TestIntegracion.cs
  src/Hercules.Asio.UrisFactory/XUnitTestUrisFactory/UnitTestConfigOperations.cs
  src/Hercules.Asio.UrisFactory/XUnitTestUrisFactory/UnitTestController.cs
  src/Hercules.Asio.UrisFactory/XUnitTestUrisFactory/UnitTestUris.cs
Due: uris

Update appsettings.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/appsettings.json
Due: discover

Revisión entrega final
  Docs/media/CabeceraDocumentosMD.png
Due: none

Revisión entrega final
  Docs/Benchmark/media/CabeceraDocumentosMD.png
Due: none

Revisión entrega final
  Docs/Benchmark/README.md
Due: none

Revisión entrega final
  Docs/FAIR/media/CabeceraDocumentosMD.png
Due: none

Revisión entrega final
  Docs/FAIR/EF2.1-7.-METRICAS-FAIR-I-SOFTWARE-Y-DOCUMENTACION-DE-METRICAS.md
Due: none

Revisión entrega final
  Docs/UrisFactory/media/CabeceraDocumentosMD.png
Due: none

Update UnitTestDiscover.cs
  src/Hercules.Asio.Api.Discover/XUnitTestProjectAPI_DISCOVER/UnitTestDiscover.cs
Due: discover

Update ClaimRequirementAttribute.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/ClaimRequirementAttribute.cs
Due: none

Update appsettings.json
  src/Hercules.Asio.SAML/Hercules-SAML/appsettings.json
Due: none

Update Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
Due: discover

Update Program.cs
  data/CargaDataSetMurcia/Program.cs
Due: none

Update reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
Due: discover

Update OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update styles
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Token/Index.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/static/style.css
Due: none

Update AuthController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/AuthController.cs
Due: none

Update _Layout.cshtml
  src/Hercules.Asio.SAML/Hercules-SAML/Views/Shared/_Layout.cshtml
Due: none

Update metadataasio.xml
  src/Hercules.Asio.SAML/Hercules-SAML/wwwroot/metadataasio.xml
Due: none

Update ApiChangeToken.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/VirtualPathProvider/ApiChangeToken.cs
Due: none

Cambiar textos
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/CMS/Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/DetailsJob.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/Details.cshtml
Due: none

Update Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/Details.cshtml
Due: none

Update _Layout.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_Layout.cshtml
Due: none

Update theme.css
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/theme.css
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
