Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

code coverage
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/DiscoverItemBDService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/DiscoverItemMockService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update SonarCloud
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/ValidationController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/repositoryController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/syncController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/20200428134416_add_RepositoryID_to_ShapeConfig_3.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/ModelExamples/ShapeConfigResponse.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/ModelExamples/ShapesConfigsResponse.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverItem.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/CMSController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/CheckSystemController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/DiscoverController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/ErrorController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/HomeController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/JobController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/OntologyController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/PublishController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/TokenController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/UrisFactoryController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Middlewares/ErrorHandlingMiddleware.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Middlewares/SessionMiddleware.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/EntityContext.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallApiService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallEtlService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CheckSystemService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/DiscoverItemBDService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ProcessDiscoverStateJobBDService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ReplaceUsesService.cs
Due: carga

Update SonarCloud
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/VirtualPathProvider/ApiChangeToken.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/VirtualPathProvider/ApiFileInfo.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/VirtualPathProvider/ApiFileProvider.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/VirtualPathProvider/CallApiVirtualPath.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Startup.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_Layout.cshtml
Due: none

Update SparqlUtility.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Utility/SparqlUtility.cs
Due: carga

Update DiscoverItem.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverItem.cs
Due: carga

Update SonarCloud
  src/Hercules.Asio.Api.Carga/API_CARGA/ModelExamples/ConfigRepositoriesResponse.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/ModelExamples/ConfigRepositoryResponse.cs
Due: carga

Update HomeController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/Controllers/HomeController.cs
Due: none

Update codecov.yml
  codecov.yml
Due: none

Create BuildTestPages.yml
  .github/workflows/BuildTestPages.yml
Due: none

Update AutocompleteController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/AutocompleteController.cs
Due: none

Update BuildTestPages.yml
  .github/workflows/BuildTestPages.yml
Due: none

Update README.md
  src/Hercules.Asio.DinamicPages/README.md
Due: none

code coverage
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Middlewares/ErrorHandlingMiddleware.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Migrations/20200819104710_InitialCreate.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Migrations/20200821104338_AddDocument.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Migrations/20200911111710_changePageEntity.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Migrations/EntityContextModelSnapshot.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Models/EntityContext.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Models/Services/DocumentsOperationsService.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Models/Services/FileOperationsService.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Models/Services/PagesOperationService.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Models/Services/TemplatesOperationsService.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Program.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Startup.cs
Due: none

Update AuthController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/AuthController.cs
Due: none

code coverage
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/EntityContext.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigSparql.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update README.md
  src/Hercules.Asio.Api.Discover/README.md
Due: discover

Update DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update SessionController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/SessionController.cs
Due: none

Code coverage
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigCrossref.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigWOS.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ProcessDiscoverStateJobBDService.cs
Due: discover

Update JobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/JobController.cs
Due: cron

Create ViewBagActionFilter.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/ActionFilter/ViewBagActionFilter.cs
Due: none

Update Startup.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Startup.cs
Due: none

ShapeError
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/JobController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Entities/ShapeReport.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/ExceptionDetails.cs
Due: none

Update JobController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/JobController.cs
Due: none

Update DetailsJob.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/DetailsJob.cshtml
Due: none

Update SonarCloud
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/AutocompleteController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallCronService.cs
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
