Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

codecov.yml:

coverage: 
  status:
    project:
      default: off
      carga:
        target: auto
        flags:
          - carga
      uris:
        target: auto
        flags:
          - uris
      discover:
        target: auto
        flags:
          - discover
      cron:
        target: auto
        flags:
          - cron
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  carga:
    paths:
      - src/Hercules.Asio.Api.Carga
    carryforward: false
  uris:
    paths:
      - src/Hercules.Asio.UrisFactory
    carryforward: false
  cron:
    paths:
      - src/Hercules.Asio.Cron
    carryforward: false
  discover:
    paths:
      - src/Hercules.Asio.Api.Discover
    carryforward: false

Create README.md
  data/README.md
Due: none

Update README.md
  data/README.md
Due: none

Update ConfigUrlService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ConfigUrlService.cs
Due: none

Update CVN
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/Controllers/OAI_PMHController.cs
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/Hercules.Asio.CVN2OAI_PMH.csproj
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/Models/Services/ConfigOAI_PMH_CVN.cs
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/Startup.cs
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/appsettings.Development.json
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/bin/comments.xml
Due: none

Update DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update config
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
Due: none

Update config
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Controllers/FactoryController.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/ResourcesClass.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/UriFormer.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Startup.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings.Development.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings_completo.json
Due: uris, discover

Update oai_cerif_openaire.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
Due: none

Update UrisConfig.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Config/UrisConfig.json
Due: uris

Add mainEntity
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/ConfigJson/Objetos.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/bin/comments.xml
Due: none

Cambios CVN
  src/cvn/cvn/config/entity.py
  src/cvn/cvn/webserver.py
Due: none

Update HomeController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/HomeController.cs
Due: none

COnfig
  Formacion/Taller carga de datos y descubrimiento/Hércules ASIO Taller OAI-PMH XML-RDF + Decubrimiento.pptx
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/Config.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/ConfigJson/Objetos.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Entities/UriGetEnum.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/bin/comments.xml
Due: none

Update UrisFactory
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DBPEDIA_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallUrisFactoryApiMockService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ICallUrisFactoryApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Program.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
  src/Hercules.Asio.Api.Discover/XUnitTestProjectAPI_DISCOVER/UnitTestDiscover.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
Due: discover

Config
  src/cvn/cvn/mappings/cvn/1.4.2_sp1/cvn-to-roh/entities.toml
  src/cvn/mappings/cvn/1.4.2_sp1/cvn-to-roh/entities.toml
Due: none

Update entity.py
  src/cvn/cvn/config/entity.py
Due: none

Update AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
Due: discover

Update config
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCache.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Actualizada query dbpedia
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DBPEDIA_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/SparqlUtility.cs
Due: discover

Update ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
Due: none

Update reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
Due: discover

Update config
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCache.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCacheGlobal.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Add graph
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ReplaceUsesService.cs
Due: none

Update Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
Due: discover

Update CallTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
Due: cron

logs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Startup.cs
Due: cron

update logs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Startup.cs
Due: cron

Update appsettings.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings.json
Due: uris

baseUrl configuration - UrisConfig
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/ConfigJsonHandler.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/ConfigService.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Startup.cs
Due: uris
