Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

codecov.yml:

coverage: 
  status:
    project:
      default: off
      carga:
        target: auto
        flags:
          - carga
      uris:
        target: auto
        flags:
          - uris
      discover:
        target: auto
        flags:
          - discover
      cron:
        target: auto
        flags:
          - cron
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  carga:
    paths:
      - src/Hercules.Asio.Api.Carga
    carryforward: false
  uris:
    paths:
      - src/Hercules.Asio.UrisFactory
    carryforward: false
  cron:
    paths:
      - src/Hercules.Asio.Cron
    carryforward: false
  discover:
    paths:
      - src/Hercules.Asio.Api.Discover
    carryforward: false

Update Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
Due: discover

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverCacheGlobal.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
Due: discover

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update _Layout.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_Layout.cshtml
Due: none

Update README.md
  Builds/docker-images/README.md
Due: none

Update discover
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/WOS_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallUrisFactoryApiService.cs
Due: discover

Update reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
Due: discover

Update DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Update README.md
  data/README.md
Due: none

Add files via upload
  Docs/media/ListaRepositorios.jpg
  Docs/media/RepositorioCVN.jpg
  Docs/media/RepositorioRadbound.jpg
  Docs/media/RepositorioXML.jpg
Due: none

Add files via upload
  Docs/media/SincroXML-CVN.jpg
Due: none

Add files via upload
  Docs/media/SincroCrearTarea.jpg
Due: none

Add files via upload
  Docs/media/SincroCrearTareaFin.jpg
Due: none

Add files via upload
  Docs/media/DetalleProblemaDesambiguacion.jpg
  Docs/media/DetalleTarea.jpg
Due: none

Add files via upload
  Docs/media/MonitorizarEstadoCarga.jpg
Due: none

Add files via upload
  Docs/media/LinkedDataServerEntidades.jpg
Due: none

Update UrisFactory
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Controllers/FactoryController.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/UriFormer.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
Due: uris

Update UrisConfig.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Config/UrisConfig.json
Due: uris

Update entity.py
  src/cvn/cvn/config/entity.py
Due: none

Update webserver.py
  src/cvn/cvn/webserver.py
Due: none

Update entities.toml
  src/cvn/cvn/mappings/cvn/1.4.2_sp1/cvn-to-roh/entities.toml
Due: none
