Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Update Config.cs
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/Config.cs
Due: none

Update CallConversor.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallConversor.cs
Due: carga

Actualización de la documentación
  Docs/Hercules-ASIO-Especificacion-de-funciones-de-Carga.md
  Docs/Hercules-ASIO-Fuentes-externas-de-informacion-para-las-funciones-de-descubrimiento.md
  Docs/Hercules-ASIO-Modelo-de-multilinguismo.md
  Docs/UrisFactory/Buenas-practicas-URIs.md
  Docs/UrisFactory/Especificacion-Esquema-de-URIs.md
  Docs/UrisFactory/Plantilla-de-documento-de-adhesion-a-las-recomendaciones-de-buenas-practicas-de-URIs.md
  Docs/UrisFactory/README.md
  src/Hercules.Asio.Api.Discover/README.md
  src/Hercules.Asio.LinkedDataServer/README.md
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Config/README.md
  src/Hercules.Asio.Web/Manual-de-usuario.md
  src/Hercules.Asio.Web/README.md
  src/fair/README.md
Due: uris, discover

Actualización DIscvoer
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Hercules.Asio.Api.Discover.csproj
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallCronApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallEtlApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
Due: discover

Update _Layout.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_Layout.cshtml
Due: none

Update AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
Due: discover

Update Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
Due: discover

Actualización de la documentación
  Docs/Hercules-ASIO-Entrega-parcial-Manual-de-comprobaciones-y-Carga-inicial.md
  Docs/Hercules-ASIO-Procedencia-de-datos-externos-Provenance.md
Due: none

Update reconciliationConfig.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Config/reconciliationConfig.json
Due: discover

Update HomeController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/HomeController.cs
Due: none

Update DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: discover

Taller descubrimiento
  Formacion/Taller carga de datos y descubrimiento/1/a_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/b_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/c_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/d_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/e_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/f_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/g_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/2/a_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/b_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/c_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/d_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/e_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/f_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/g_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/3/a_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/b_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/c_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/d_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/e_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/f_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/g_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/4/a_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/b_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/c_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/d_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/e_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/f_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/g_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/5/a_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/b_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/c_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/d_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/e_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/f_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/g_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/CV Propio.xml
  Formacion/Taller carga de datos y descubrimiento/Hércules ASIO Taller OAI-PMH XML-RDF + Decubrimiento.pdf
Due: none

Update Hércules ASIO Taller OAI-PMH XML-RDF + Decubrimiento.pdf
  Formacion/Taller carga de datos y descubrimiento/Hércules ASIO Taller OAI-PMH XML-RDF + Decubrimiento.pdf
Due: none

Taller
  Formacion/Taller carga de datos y descubrimiento/1/a_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/b_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/c_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/d_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/e_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/f_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/1/g_Diego López-de-Ipiña.xml
  Formacion/Taller carga de datos y descubrimiento/2/a_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/b_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/c_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/d_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/e_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/f_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/2/g_Esteban Sota Leiva.xml
  Formacion/Taller carga de datos y descubrimiento/3/a_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/b_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/c_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/d_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/e_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/f_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/3/g_Oihane Gómez-Carmona.xml
  Formacion/Taller carga de datos y descubrimiento/4/a_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/b_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/c_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/d_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/e_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/f_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/4/g_Álvaro Palacios Marijuán.xml
  Formacion/Taller carga de datos y descubrimiento/5/a_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/b_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/c_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/d_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/e_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/f_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/5/g_Diego Casado-Mansilla.xml
  Formacion/Taller carga de datos y descubrimiento/CV Propio.xml
  Formacion/Taller carga de datos y descubrimiento/Taller carga de datos y descubrimiento.zip
Due: none

Actualización de la documentación
  Docs/Hercules-ASIO-Trabajos-de-carga-Hito-1.md
Due: none

Update security
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallMockNeedPublishData.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Startup.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/bin/comments.xml
  src/Hercules.Asio.Api.Carga/XUnitTestAPI_CARGA/UnitTestOperationsEtl.cs
Due: carga

Security changes
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Startup.cs
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/Config.cs
Due: cron

Update README.md
  src/Hercules.Asio.Api.Carga/README.md
Due: carga

Update README.md
  src/Hercules.Asio.Cron/README.md
Due: cron

Update Startup.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Startup.cs
Due: none

Update README.md
  src/Hercules.Asio.Web/README.md
Due: none

Security changes
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Web/XUnitTestIntegracion/Test_IntegracionConexion_Repository.cs
  src/Hercules.Asio.Web/XUnitTestIntegracion/Test_IntegracionConexion_Shape.cs
Due: none

Update README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Changes security
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Extra/Exceptions/BadRequestException.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/ConfigJson/Objetos.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Entities/UriGetEnum.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/ErrorViewModel.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/CallApiService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/CallTokenService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Program.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Startup.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/appsettings.Development.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/bin/comments.xml
Due: none

Update Startup.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Startup.cs
Due: none

Security
  src/Hercules.Asio.Api.Carga/API_CARGA/Startup.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Startup.cs
Due: carga

Update Startup.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Startup.cs
Due: carga

Update ProgramingMethodsService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ProgramingMethodsService.cs
Due: cron

Update ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
Due: none

Call converter
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallConversor.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/bin/comments.xml
Due: carga

update styles
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_Layout.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/static/proyecto-fair.css
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/static/proyecto-fair.js
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/static/style.css
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/theme.css
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/theme2.css
Due: none

Update _ListJobs.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/RepositoryConfig/_ListJobs.cshtml
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
