Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Add taller reutilizacion
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL.sln
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/ApiDiscoverDLL.csproj
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Config/reconciliationConfig.json
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Controllers/DiscoverController.cs
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Libraries/Hercules.Asio.Api.Discover.dll
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Ontology/roh-v2.owl
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Program.cs
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/Startup.cs
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/appsettings.Development.json
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/appsettings.json
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/rdfFiles/databaseFile.rdf
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/rdfFiles/databaseFileReconciliateIds.rdf
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/rdfFiles/rdfFile.rdf
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/rdfFiles/rdfFileRecon.rdf
  Formacion/TallerReutilizacion/ApiDiscoverDLL/ApiDiscoverDLL/rdfFiles/rdfFileReconciliateIDs.rdf
  Formacion/TallerReutilizacion/NugetUris/NugetUris.sln
  Formacion/TallerReutilizacion/NugetUris/NugetUris/NugetUris.csproj
  Formacion/TallerReutilizacion/NugetUris/NugetUris/Program.cs
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL.sln
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Config/UrisConfig.json
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Libraries/Config/UrisConfig.json
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Libraries/Hercules.Asio.UrisFactory.dll
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Libraries/Hercules.Asio.UrisFactory.xml
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Program.cs
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/UrisDLL.csproj
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL.sln
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/Config/Ontology/roh-v2.owl
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/Controllers/PruebaController.cs
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/Libraries/Hercules.Asio.Api.Carga.dll
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/Program.cs
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/Startup.cs
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/WebCargaDLL.csproj
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/appsettings.Development.json
  Formacion/TallerReutilizacion/WebCargaDLL/WebCargaDLL/appsettings.json
Due: none

Create 20210218 Hércules ASIO - Reutilización de componentes.pptx
  Formacion/TallerReutilizacion/20210218 Hércules ASIO - Reutilización de componentes.pptx
Due: none

example uris
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/Program.cs
  Formacion/TallerReutilizacion/UrisDLL/UrisDLL/UrisDLL.csproj
Due: none

Update README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Add files via upload
  Formacion/20210205 Mantenimiento evolutivo de ROH.pdf
  Formacion/20210218 Taller ASIO SPARQL Endpoint.pdf
Due: none

Add urls
  src/Hercules.Asio.Api.Carga/API_CARGA/appsettings.json
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/appsettings.json
  src/Hercules.Asio.Cron/CronConfigure/appsettings.json
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Startup.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/appsettings.json
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/appsettings.json
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/appsettings.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings.json
  src/Hercules.Asio.Web/ApiCargaWebInterface/appsettings.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/appsettings.json
  src/Unidata/Api_Unidata/Api_Unidata/appsettings.json
Due: carga, uris, cron

Update OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
Due: carga

Update Logging
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Logging/Logging.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
Due: discover

Update AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
Due: discover

COrrecciones
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
Due: carga, discover

Actualización
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
Due: discover

Update Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
Due: discover

CAmbios JSON
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/XML_ASIO.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/XML_ASIO.toml
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/oai_cerif_openaire.toml
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Controllers/ConversorController.cs
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Hercules.Asio.XML_RDF_Conversor.csproj
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Models/ConfigJson/Objetos.cs
Due: none

Actualización de la documentación
  Docs/README.md
Due: none

Actualización de la documentación
  Docs/FAIR/EF2-1.6 DOCUMENTO DE ANÁLISIS DE MÉTODOS FAIR.pdf
  Docs/FAIR/EF2.1-7. MÉTRICAS FAIR I- SOFTWARE Y DOCUMENTACIÓN DE MÉTRICAS.md
  Docs/FAIR/EF2.1-7. MÉTRICAS FAIR I- SOFTWARE Y DOCUMENTACIÓN DE MÉTRICAS.pdf
  Docs/FAIR/Entregable EF2-1.6 APÉNDICE Métricas publicadas por FAIRmetrics.pdf
  Docs/FAIR/Entregable EF2-1.6_ documento de análisis de métodos FAIR.md
  Docs/FAIR/media/CabeceraDocumentosMD.png
  Docs/FAIR/media/fair_table_1.png
  Docs/FAIR/media/fair_table_10.png
  Docs/FAIR/media/fair_table_2.png
  Docs/FAIR/media/fair_table_3.png
  Docs/FAIR/media/fair_table_4.png
  Docs/FAIR/media/fair_table_5.png
  Docs/FAIR/media/fair_table_6.png
  Docs/FAIR/media/fair_table_7.png
  Docs/FAIR/media/fair_table_8.png
  Docs/FAIR/media/fair_table_9.png
  Docs/FAIR/media/fair_test_table_1.png
  Docs/FAIR/media/fair_test_table_2.png
  Docs/FAIR/media/image2_MetricasFAIR.png
  Docs/FAIR/media/image2_metodosFAIR.png
  Docs/FAIR/media/image3_MetricasFAIR.png
  Docs/FAIR/media/image3_metodosFAIR.png
  Docs/FAIR/media/image4_MetricasFAIR.png
  Docs/FAIR/media/image4_metodosFAIR.png
  Docs/FAIR/media/image5_MetricasFAIR.png
  Docs/FAIR/media/image5_metodosFAIR.gif
  Docs/FAIR/media/image6_MetricasFAIR.png
  Docs/FAIR/media/image7_MetricasFAIR.png
  Docs/FAIR/media/image8_MetricasFAIR.png
Due: none

Actualización de la documentación
  Docs/Benchmark/AddingCriteria.md
  Docs/Benchmark/Developer Documentation.md
  Docs/Benchmark/README.md
  Docs/Benchmark/UserGuide.md
  Docs/Benchmark/media/CabeceraDocumentosMD.png
  Docs/Benchmark/media/benchmark.png
  Docs/Benchmark/media/editing_weights.png
  Docs/Benchmark/media/frontpage.png
  Docs/Benchmark/media/fulltextsearch.png
  Docs/Benchmark/media/image2_BenchmarkReport.png
  Docs/Benchmark/media/image3_BenchmarkReport.png
  Docs/Benchmark/media/ts_ranking.png
  Docs/Benchmark/media/virtuoso.png
  src/Benchmark/Docs/README.md
Due: none

Create README.md
  Docs/UrisFactory/README.md
Due: none

Actualización de la documentación
  Docs/UrisFactory/20191211 Esquema de URIs sample.json
  Docs/UrisFactory/20191211 Esquema de URIs.json
  Docs/UrisFactory/Buenas prácticas URIs.md
  Docs/UrisFactory/Especificación Esquema de URIs.md
  Docs/UrisFactory/Plantilla de documento de adhesión a las recomendaciones de buenas prácticas de URIs.md
  Docs/UrisFactory/README.md
  Docs/UrisFactory/media/CabeceraDocumentosMD.png
  Docs/UrisFactory/media/image1.png
  src/Hercules.Asio.UrisFactory/docs/README.md
Due: uris

Actualización de la documentación
  src/Hercules.Asio.UrisFactory/README.md
Due: uris

Add files via upload
  Formacion/20210224 Hércules ASIO OAI-PMH, carga de datos y decubrimiento.pdf
Due: none

Create .dockerignore
  src/Hercules.Asio.Api.Carga/API_CARGA/.dockerignore
Due: carga

Create Dockerfile
  src/Hercules.Asio.Api.Carga/API_CARGA/Dockerfile
Due: carga

Create comments.xml
  src/Hercules.Asio.Api.Carga/API_CARGA/bin/comments.xml
Due: carga

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.Api.Carga/API_CARGA/appsettings_completo.json
Due: carga

Create appsettings.json
  src/Hercules.Asio.Api.Carga/API_CARGA/appsettings.json
Due: carga

Create Dockerfile
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Dockerfile
Due: discover

Update appsettings.json
  src/Hercules.Asio.Api.Carga/API_CARGA/appsettings.json
Due: carga

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/appsettings_completo.json
Due: discover

Create appsettings.json
  src/Hercules.Asio.Api.Discover/API_DISCOVER/appsettings.json
Due: discover

Create comments.xml
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/bin/comments.xml
Due: none

Create Dockerfile
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/Dockerfile
Due: none

Create .dockerignore
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/.dockerignore
Due: none

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/appsettings_completo.json
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
