Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

codecov.yml:

coverage: 
  status:
    project:
      default: off
      carga:
        target: auto
        flags:
          - carga
      uris:
        target: auto
        flags:
          - uris
      discover:
        target: auto
        flags:
          - discover
      cron:
        target: auto
        flags:
          - cron
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  carga:
    paths:
      - src/Hercules.Asio.Api.Carga
    carryforward: false
  uris:
    paths:
      - src/Hercules.Asio.UrisFactory
    carryforward: false
  cron:
    paths:
      - src/Hercules.Asio.Cron
    carryforward: false
  discover:
    paths:
      - src/Hercules.Asio.Api.Discover
    carryforward: false

Update Dockerfile
  src/Hercules.Asio.SAML/Hercules-SAML/Dockerfile
Due: none

Add proxy
  src/Hercules.Asio.SAML/Hercules-SAML/Hercules-SAML.csproj
  src/Hercules.Asio.SAML/Hercules-SAML/Startup.cs
  src/Hercules.Asio.SAML/Hercules-SAML/appsettings.json
Due: none

Revisión entrega final
  Formacion/README.md
Due: none

Revisión entrega final
  Formacion/TallerReutilizacion/20210218 Hércules ASIO - Reutilización de componentes.pdf
Due: none

Update Startup.cs
  src/Hercules.Asio.SAML/Hercules-SAML/Startup.cs
Due: none

Update cola rabbit virtuoso
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/RabbitVirtuosoObject.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/RabbitMQService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/DiscoverUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/I_SparqlUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/SparqlUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/SparqlUtilityMock.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
Due: discover

Update config
  src/cvn/cvn/mappings/cvn/1.4.2_sp1/cvn-to-roh/entities.toml
  src/cvn/mappings/cvn/1.4.2_sp1/cvn-to-roh/entities.toml
Due: none

Add queue virtuoso
  src/Hercules.Asio.Api.Carga/API_CARGA/Config/Ontology/roh-v2.owl
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/RabbitVirtuosoObject.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/ConfigSparql.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/IRabbitMQService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/RabbitMQMockService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/RabbitMQService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Utility/SparqlUtility.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/bin/comments.xml
Due: carga

Update AsioPublication.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/AsioPublication.cs
Due: discover

Update SparqlUtility.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/SparqlUtility.cs
Due: discover

Update README.md
  src/Hercules.Asio.Api.Discover/README.md
Due: discover

Update README.md
  src/Hercules.Asio.Api.Carga/README.md
Due: carga

Añadida autenticación HTTP básica hacia el virtuoso endpoint
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/Worker.cs
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/appsettings.json
Due: none

Update appsettings.json
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/appsettings.json
Due: none

Update actualizar-back.sh
  Builds/docker-images/docs/docker-servicios-back/actualizar-back.sh
Due: none

Create Dockerfile
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/Dockerfile
Due: none

Update views
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/CMSController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ReplaceUsesService.cs
Due: none

Update docker-compose.yml
  Builds/docker-images/docs/docker-servicios-back/docker-compose.yml
Due: none

Create .dockerignore
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/.dockerignore
Due: none

Update metadataasio.xml
  src/Hercules.Asio.SAML/Hercules-SAML/wwwroot/metadataasio.xml
Due: none

Update SAML
  src/Hercules.Asio.SAML/Hercules-SAML/appsettings.json
  src/Hercules.Asio.SAML/Hercules-SAML/wwwroot/metadataasio.xml
Due: none

Update HomeController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/Controllers/HomeController.cs
Due: none

Update SAML
  src/Hercules.Asio.SAML/Hercules-SAML/Pages/Claims.cshtml
  src/Hercules.Asio.SAML/Hercules-SAML/Pages/Claims.cshtml.cs
Due: none

Update docker-compose.yml
  Builds/docker-images/docs/docker-rabbitmq/docker-compose.yml
Due: none

Update HomeController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/HomeController.cs
Due: none

Update docker-compose.yml
  Builds/docker-images/docs/docker-postgresql/docker-compose.yml
Due: none

Update SAML
  src/Hercules.Asio.SAML/Hercules-SAML/Controllers/HomeController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/appsettings.json
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/CMSController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/CheckSystemController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/RepositoryConfigController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/ShapeConfigController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/TokenController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/UrisFactoryController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Hercules.Asio.Web.csproj
  src/Hercules.Asio.Web/ApiCargaWebInterface/Middlewares/SessionMiddleware.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/ClaimRequirementAttribute.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Startup.cs
Due: none
