Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Update SonarCloud
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Controllers/FactoryController.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Controllers/SchemaController.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Extra/Enum/EleccionUri.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Extra/Exceptions/FailedLoadConfigJsonException.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Extra/Exceptions/UriStructureBadInfoException.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Extra/Exceptions/UriStructureConfiguredException.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Filters/AddParametersFilter.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Middlewares/ErrorHandlingMiddleware.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Middlewares/LoadConfigJsonMiddleware.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/AddUriStructureErrorResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/AddUriStructureResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/DeleteUriStructureErrorResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/DeleteUriStructureResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/InfoStructureErrorResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/ReplaceSchemaResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/ReplaceShemaErrorResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/Uri.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UriErrorExample.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UriStructureGeneralExample.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UriStructureInfoRequest.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UrisFactoryErrorReponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UrisFactoryResponse.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/Characters.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/Component.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/ResourcesClass.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/UriComponentsList.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/UriStructure.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/ConfigEntities/UriStructureGeneral.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/ConfigService.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/SchemaConfigFileOperations.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Models/Services/UriFormer.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Program.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Startup.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ViewModels/InfoUriStructure.cs
Due: uris

Update SonarCloud
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UriStructureGeneralExample.cs
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/ModelExamples/UrisFactoryResponse.cs
Due: uris

Update SonarCloud
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OaiPublishRDFService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/OntologyService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Utility/RohRdfsReasoner.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Utility/SparqlUtility.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Program.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/bin/comments.xml
Due: carga

Update SonarCloud
  src/Hercules.Asio.Cron/CronConfigure/Controllers/RecurringJobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/ScheduledJobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/ProcessDiscoverStateJob.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ProgramingMethodsService.cs
  src/Hercules.Asio.Cron/CronConfigure/Program.cs
  src/Hercules.Asio.Cron/CronConfigure/Startup.cs
Due: cron

Update SonarCloud
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallApiService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
Due: cron

Update SonarCloud
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/CROSSREF_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DBLP_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/ORCID_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Utility/SparqlUtility.cs
Due: discover

Update SonarCloud
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Utility/SparqlUtility.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Views/Home/Index.cshtml
Due: none

Update SonarCloud
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Discover.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Extra/Exceptions/BadRequestException.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Extra/Exceptions/ValidationException.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/Disambiguation.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/DiscoverItem.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/CROSSREF_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DBLP_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DBPEDIA_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/DOAJ_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/ORCID_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Worker.cs
Due: discover

Create sonar_dinamic_pages.yml
  .github/workflows/sonar_dinamic_pages.yml
Due: none

Delete sonar_dinamic_pages.yml
  .github/workflows/sonar_dinamic_pages.yml
Due: none

Update Sonar_SPRQL_Replication.yml
  .github/workflows/Sonar_SPRQL_Replication.yml
Due: none

Create sonar_SAML.yml
  .github/workflows/sonar_SAML.yml
Due: none

Create SONAR_XML_RDF_Conversor.yml
  .github/workflows/SONAR_XML_RDF_Conversor.yml
Due: none

Update SonarCloud
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/PUBMED_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/RECOLECTA_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/SCOPUS_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ExternalAPIs/WOS_API.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/ProcessDiscoverStateJob.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/RabbitMQInfo.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/RabbitVirtuosoObject.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/RohGraph.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/RohRdfsReasoner.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/SparqlObject.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Entities/TokenBearer.cs
Due: discover

Update SonarCloud
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/EntityContext.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Logging/Logging.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallCronApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallEtlApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/CallUrisFactoryApiService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigCrossref.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigScopus.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigSparql.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ConfigWOS.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/DiscoverItemBDService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/ProcessDiscoverStateJobBDService.cs
  src/Hercules.Asio.Api.Discover/API_DISCOVER/Models/Services/RabbitMQService.cs
Due: discover

Update CargaRDF.cs
  data/CargaDataSetMurcia/Model/CargaRDF.cs
Due: none

Update XML_ASIO.json
  src/Hercules.Asio.XML_RDF_Conversor/XML_RDF_Conversor/Config/XML_ASIO.json
Due: none

Update README.md
  src/Hercules.Asio.SAML/README.md
Due: none

Update README.md
  src/Hercules.Asio.XML_RDF_Conversor/README.md
Due: none

Update README.md
  src/Hercules.Asio.SPARQLReplication/README.md
Due: none

Update SonarCloud
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/Worker.cs
Due: none

Update SonarCloud
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/Program.cs
  src/Hercules.Asio.SPARQLReplication/Hercules.Asio.SPARQLReplication/Worker.cs
Due: none

test Linked data
  src/Hercules.Asio.LinkedDataServer/Hercules.Asio.LinkedDataServer.sln
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Config/Linked_Data_Server_Config.json
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/AutocompleteController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/HomeController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/SearchController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Models/Entities/EntityModelTemplate.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Models/Services/ConfigService.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Startup.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Utility/ISparqlUtility.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Utility/SparqlUtility.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Utility/SparqlUtilityMock.cs
  src/Hercules.Asio.LinkedDataServer/XUnit_LinkedData/Ontology/roh-v2.owl
  src/Hercules.Asio.LinkedDataServer/XUnit_LinkedData/UnitTest1.cs
  src/Hercules.Asio.LinkedDataServer/XUnit_LinkedData/XUnit_LinkedData.csproj
  src/Hercules.Asio.LinkedDataServer/XUnit_LinkedData/rdfFiles/cv1.rdf
Due: none

Update codecov.yml
  codecov.yml
Due: none

Create BuildAndTest_LinkedDataServer.yml
  .github/workflows/BuildAndTest_LinkedDataServer.yml
Due: none

Update HomeController.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Controllers/HomeController.cs
Due: none

code coverage
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Extra/Exceptions/BadRequestException.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Extra/Exceptions/ValidationException.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/ViewModels/ShapeConfigViewModel.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/ViewModels/ShapeReportModel.cs
Due: none

Update ErrorHandlingMiddleware.cs
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Middlewares/ErrorHandlingMiddleware.cs
Due: none

Update README.md
  src/Hercules.Asio.LinkedDataServer/README.md
Due: none

Update entity.py
  src/cvn/cvn/config/entity.py
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
