Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Create appsettings.json
  src/Hercules.Asio.CVN2OAI_PMH/OAI_PMH_CVN/appsettings.json
Due: none

Create Dockerfile
  src/Hercules.Asio.Cron/CronConfigure/Dockerfile
Due: cron

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.Cron/CronConfigure/appsettings_completo.json
Due: cron

Create .dockerignore
  src/Hercules.Asio.Cron/CronConfigure/.dockerignore
Due: cron

Create appsettings.json
  src/Hercules.Asio.Cron/CronConfigure/appsettings.json
Due: cron

Create Dockerfile
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Dockerfile
Due: none

Create .dockerignore
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/.dockerignore
Due: none

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/appsettings_completo.json
Due: none

Create appsettings.json
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/appsettings.json
Due: none

Update Dockerfile
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Dockerfile
Due: none

Rename 20200325 Hercules TripleStore Benchmark deliverable report.md to Hercules TripleStore Benchmark deliverable report.md
  Docs/Hercules TripleStore Benchmark deliverable report.md
Due: none

Rename 20200415 Hércules ASIO Evaluación de cumplimiento Linked Data Platform.md to Hércules ASIO Evaluación de cumplimiento Linked Data Platform.md
  Docs/Hércules ASIO Evaluación de cumplimiento Linked Data Platform.md
Due: none

Add files via upload
  Docs/media/Hércules ASIO Diagrama de componentes.png
Due: none

Actualización de la documentación
  README.md
Due: none

Update Startup.cs
  src/Hercules.Asio.DinamicPages/GestorDocumentacion/Startup.cs
Due: none

Create Dockerfile
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/Dockerfile
Due: none

Create .dockerignore
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/.dockerignore
Due: none

Update and rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/appsettings_completo.json
Due: none

Update appsettings_completo.json
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/appsettings_completo.json
Due: none

Create appsettings.json
  src/Hercules.Asio.IdentityServer/IdentityServerHecules/appsettings.json
Due: none

Added Jekyll relative links plugin
  _config.yml
  _plugins/jekyll-relative-links.rb
  _plugins/jekyll-relative-links/context.rb
  _plugins/jekyll-relative-links/generator.rb
  _plugins/jekyll-relative-links/version.rb
Due: none

Update README.md
  Docs/UrisFactory/README.md
Due: none

Update _config.yml
  _config.yml
Due: none

Create Dockerfile
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/Dockerfile
Due: none

Create .dockerignore
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/.dockerignore
Due: none

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/appsettings_completo.json
Due: none

Create appsettings.json
  src/Hercules.Asio.LinkedDataServer/Linked_Data_Server/appsettings.json
Due: none

Create Dockerfile
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/Dockerfile
Due: uris

Create .dockerignore
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/.dockerignore
Due: uris

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings_completo.json
Due: uris

Create appsettings.json
  src/Hercules.Asio.UrisFactory/UrisAutoGenerator/appsettings.json
Due: uris

Rename appsettings.json to appsettings_completo.json
  src/Hercules.Asio.Web/ApiCargaWebInterface/appsettings_completo.json
Due: none

Create appsettings.json
  src/Hercules.Asio.Web/ApiCargaWebInterface/appsettings.json
Due: none

Create Dockerfile
  src/Unidata/Api_Unidata/Api_Unidata/Dockerfile
Due: none

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
