Repository HerculesCRUE/GnossDeustoBackend: changes, and which Codecov flags are due for each by the changed paths.
All: carga, uris, cron, discover

Update job created
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/JobController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/ViewModels/resultCreated.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/Created.cshtml
Due: none

Update
  src/Hercules.Asio.Web/ApiCargaWebInterface/Controllers/JobController.cs
  src/Hercules.Asio.Web/ApiCargaWebInterface/ViewModels/JobCreated.cs
Due: none

Update Created.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/Created.cshtml
Due: none

Update DetailsJob.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Job/DetailsJob.cshtml
Due: none

Update Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Discover/Details.cshtml
Due: none

Update Index.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/UrisFactory/Index.cshtml
Due: none

Update UrisFactory
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/UrisFactory/Index_old.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/UrisFactory/Schema.cshtml
Due: none

Update theme.css
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/theme.css
Due: none

Update buttons
  src/Hercules.Asio.Web/ApiCargaWebInterface/Views/Discover/Details.cshtml
  src/Hercules.Asio.Web/ApiCargaWebInterface/wwwroot/theme/theme.css
Due: none

Update metadataasio.xml
  src/Hercules.Asio.SAML/Hercules-SAML/wwwroot/metadataasio.xml
Due: none

Update appsettings.json
  src/Hercules.Asio.SAML/Hercules-SAML/appsettings.json
Due: none

Revisión entrega final
  src/Benchmark/triplestore-assessment-interface/hercules/templates/nav.html
Due: none

Update README.md
  src/Hercules.Asio.Cron/README.md
Due: cron

[ExcludeFromCodeCoverage]
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/DiscoverItem.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallApiService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ConfigTokenService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/IProgramingMethodService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/RepositoryCronService.cs
Due: cron

Update IProgramingMethodService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/IProgramingMethodService.cs
Due: cron

Update JobController.cs
  src/Hercules.Asio.Cron/CronConfigure/Controllers/JobController.cs
Due: cron

update test
  src/Hercules.Asio.Cron/CronConfigure/Controllers/JobController.cs
  src/Hercules.Asio.Cron/XUnitTestProject/UnitTest1.cs
Due: cron

test
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/IProgramingMethodService.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Services/MockCronApiService.cs
Due: cron

test
  src/Hercules.Asio.Cron/CronConfigure/Exceptions/BadRequestException.cs
  src/Hercules.Asio.Cron/CronConfigure/Models/Entitties/DiscoverItem.cs
Due: cron

Update README.md
  src/Hercules.Asio.Api.Carga/README.md
Due: carga

code coverage
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/20210212091937_AddedRepositoryConfigSet.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/20210527083716_tokenSAML.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallApiNeedInfoPublisData.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallApiService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallTokenService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/ConfigUrlService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/DiscoverItemBDService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/RabbitMQService.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/ShapesConfigBDService.cs
Due: carga

code coverage
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/EntityContextModelSnapshot.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverItem.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverStateResult.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/RabbitVirtuosoObject.cs
Due: carga

Update AuthController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/AuthController.cs
Due: none

code coverage
  src/Hercules.Asio.Api.Carga/API_CARGA/Migrations/EntityContextModelSnapshot.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverItem.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverStateResult.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/CallOAIPMH.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Services/RepositoriesConfigBDService.cs
Due: carga

Update SAML
  src/Hercules.Asio.SAML/Hercules-SAML/AuthController.cs
  src/Hercules.Asio.SAML/Hercules-SAML/Views/Shared/_Layout.cshtml
Due: none

code coverage
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/syncController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverItem.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Models/Entities/DiscoverStateResult.cs
Due: carga

Update etlController.cs
  src/Hercules.Asio.Api.Carga/API_CARGA/Controllers/etlController.cs
Due: carga

Path conditions:
  carga: any of: src/Hercules.Asio.Api.Carga
  uris: any of: src/Hercules.Asio.UrisFactory
  cron: any of: src/Hercules.Asio.Cron
  discover: any of: src/Hercules.Asio.Api.Discover
